$border: 1px solid white;
$text-color: #1D2730;
$hint-color: #aeaeae;
$bg-color: #F2F2F7;
$bg-row-color: rgba(255, 255, 255, 0.1);
$dark: #1D2730;
$comet: #5E5E82;
$comet-opaque: #5e5e8220;
$hover-color:#2572bf;
$active-color:#155EE1;
$border-color: #C0C0CA60;
$disabled-color: #f0f0f0;
$warning-color: #C71A1A;
$warning-hover: #e25757;
$success: #2ca514;
$table-header: #f4f4f4;
$shadow-main: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
$shadow-card: 0 3px 4px -1px rgba(0, 0, 0, 0.15);
$overlay: rgba(0, 0, 0, 0.25);

$main-dimension: 40px;
$inputw: 270px;
$trns: 0.3s;

$main-font: 'Roboto', Helvetica, sans-serif;
$title-font: 'Roboto', arial, sans-serif;

$title-font-size: 28px;
$main-font-size: 14px;

$xs: 400px;
$sm: 568px;
$md: 768px;
$lg: 992px;
$xl: 1264px;
